body::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

body::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

body::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}

.user {
    height: 50px;
}

.btn_account {
    color: #F36A5A;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    padding: 5px;
    border: unset;
    position: relative;
    cursor: pointer;
}

.btn_account:focus {
    outline: unset;
}

.btn_account img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.btn_account i {
    font-size: 20px;
    margin-left: 5px;
}

.btn_account .sub_menu {
    position: absolute;
    top: 55px;
    background-color: white;
    width: 200px;
    right: 0;
    z-index: 1;
    border: 1px solid #cccccc;
    padding: 0 15px;
}

.btn_account .sub_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.btn_account .sub_menu ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.btn_account .sub_menu ul li:last-child a {
    border-bottom: 0;
}

.btn_account .sub_menu ul li a i {
    font-size: 14px;
    color: #272e36d9;
    float: right;
}

.banner img {
    width: 100%;
    height: 600px;
}

.title_ranking {
    background-image: linear-gradient(to top, #CCFFFF, #0099FF);
    border-radius: 5px 5px 0 0;
    height: 70px;
}

.title_ranking span {
    font-size: 27px;
    line-height: 60px;
    font-weight: 900;
    color: #555555;
}

.content_ranking::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.content_ranking::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.content_ranking::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.content_ranking::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

aside.sidebar{
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    z-index: 100;
}

.main{
    /*overflow-y: scroll;*/
}

.onTab{
    /*background-color: cyan !important;*/
    /*color: darkred !important;*/
}

.film-col{
    position: relative;
    overflow: hidden;
}

.film-col > p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 10px;
    line-height: 1.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.film-col img{
    object-fit: cover;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.film-col:hover > img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.film-col:hover i.icon-play{
    display: block;
    z-index: 10;
}

.film-col i.icon-play{
    background: #ff9601;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}

.icon-play:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
    margin: -15px 0 0 -6px;
}
